*{
    padding: 0px;
    margin: 0px;
}

/*Menu*/    
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.hola{
    display: flex;
    color: seashell;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0px;
    background-color: rgb(47, 96, 72);
    font-size:large;
    font-weight: bold;
    font-family: 'Benne', serif;
    width: 100%;
} 
.liMenu{
    margin-left: 5px;
    margin-right: 5px;
}
.linkcolor{
    color: seashell;
}
.logo{
    width: 50%;
    height: 50%;
}
/*fin menu*/
body{
    background-color: rgb(9, 124, 107);
    height: auto;
}
footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
    color: seashell;
    font-size:medium;
    font-style: initial;
    font-family: 'Benne', serif;
    text-align:center;
    background: linear-gradient(to right bottom, rgb(47, 96, 72), white);
    border: 2px darkgreen solid ;
    width: 100%;
   }

/* Tamaños de textos*/
h1{
    color: rgb(221, 231, 221);
    font-size:larger;
    font-weight: bold;
    font-style: normal;
    font-family: 'Benne', serif;
    text-align: center;
    line-height: unset;
    background-color: yellowgreen;
    width: fit-content;
    margin-left: auto; 
    margin-right: auto;
    border: 2px rgb(45, 148, 86) solid;
    border-radius: 7px;
    padding: 5px; 
}
h2{
    color: rgb(221, 231, 221);
    font-size:large;
    font-weight: normal;
    font-style: initial;
    font-family: 'Benne', serif;
    text-align: center;
    line-height: unset;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(47, 96, 72);
    font-weight: bold;
    text-align: center;
    font-size: x-small;
}
h5{
    font-family: 'Benne', serif;
    color: rgb(221, 231, 221);
    font-size: medium;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    margin-top: 8px;
}
p{
    color: seashell;
    text-align: center;
    margin: auto;
    font-size: 75%;

}
.bienvenida{
    color: seashell;
    font-size:xx-large;
    font-weight: bolder;
    font-style: initial;
    font-family: 'Benne', serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-bottom: 3px darkgreen solid;
    border-top: 3px darkgreen solid;
}
.article{
    text-align: left;
    font-size: large;
    font-weight: bold;

}
/*Home*/
.mainPrincipal{
    
    justify-items: center;
    background-image: url(../imagenes/losmestiz2.png);
    width: 100%;
    background-size: cover;
    padding-left: 10px;
}
.ultimapubli{
    grid-area: area1;
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
    color: seashell;  
    width: 300px;
    height: 150px;
    border: darkgreen 5px double;
    border-radius: 3px;
    margin: 30px;
    margin-top: 100px;
    margin-left: 0px;
}
.lugares{
    grid-area: area2;
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: seashell;
    width: 300px;
    height: 150px;
    border: darkgreen 5px double;
    border-radius: 3px;
    margin: 30px;
    margin-left: 0px;
}
.flyer{
    border-radius: 10px;
    width: max-content;
    height: auto;
    justify-content: center;
}
.texto1{
    width: 100px;
    height: 120px; 
    font-size: x-small;
    text-align: center;
    padding: 3px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
.texto2{
    width: 100px;
    height: 120px; 
    font-size: x-small;
    text-align: center;
    padding: 3px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;

}
.img1{
    width: fit-content;
}
.aside{
    grid-area: area3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-small;
    color: seashell;
    width: 200px;
    height: 400px;
    border: darkgreen 5px double;
    border-radius: 3px;
    margin: 30px;
    margin-top: 100px;
    padding: 3px;
    text-align: center;
}
.asidelogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 30%;
    margin: 35%;
    margin-top: 5%;
    margin-bottom: 5%;

}

/*Manos a la obra*/
#ulmanosalaobra{
    padding-left: 0px;
}
.tituloproducto{
    font-family: 'Benne', serif;
    border:none;
    width: 100%;
    height: fit-content;
    color: rgb(221, 231, 221);
    font-size: normal;
    font-weight: lighter;
    font-style: normal;
    text-align: center;
    line-height: unset;
    background-color: yellowgreen;
    border-radius: 4px;
}
.hacer{
    font-family: 'Benne', serif;
    color:rgb(146, 99, 99);
    background-color: rgb(240, 255, 254);
    display: block;
    margin:5px;
    width: fit-content;
    height:fit-content;
}
/*Publicamos tu emprendimiento*/
form{
    font-family: 'Benne', serif;
    background-color: rgb(138, 197, 204);
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    border:rgb(147, 170, 189) 3PX groove ;
    border-radius: 5px;
    justify-content: center;
}

.nombreform:hover{
    transform: scalex(3);
    border:none 2PX solid ;

}
.emailform:hover{
    transform: scalex(3);
    border:none 2PX solid ;
}

/*Agenda*/
.tablaagenda{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:oblique ;
    margin: 30px;
    padding: 3px;
}
/*Conocenos*/    
.tablaconocenos{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas: "area1 area2 area3"
                         "area4 area5 area6"
                         "area7 area8 area9";
    justify-items: center;
    width: 100%;
    height: 800px;
    padding: 10px;
    font-family: monospace;
    font-style:oblique ;
    margin: auto;
    padding: 1px;
}

.hum1{
    grid-area: area1;
   
    background-color: rgb(138, 197, 204);
    color: black;
    width: fit-content;
    height:fit-content;
    text-align: center;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.hum2{
    grid-area: area2;
 
    background-color: rgb(138, 197, 204);
    color: black;
    width: fit-content;
    height:fit-content;
    text-align: center;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.can1{
    grid-area: area3;

    background-color: rgb(138, 197, 204);
    color: black;
    width: fit-content;
    height:fit-content;
    text-align: center;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.can2{
    grid-area: area4;
    
    background-color: rgb(138, 197, 204);
    color: black;
    width: fit-content;
    height:fit-content;
    text-align: center;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.can3{
    grid-area: area5;

    background-color: rgb(138, 197, 204);
    color: black;
    width: fit-content;
    height:fit-content;
    text-align: center;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.can4{
    grid-area: area6;
    
    background-color: rgb(138, 197, 204);
    color: black;
    width: fit-content;
    height:fit-content;
    text-align: center;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.can5{
    grid-area: area8;
    
    flex-direction: row;
    background-color: rgb(138, 197, 204);
    color: black;
    width: fit-content;
    height:fit-content;
    text-align: center;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
#subrayadocolor{
    color: #3d6f57;
    font-size: small;
    font-weight: normal;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.todos{
    grid-area: area7;
    width: 180px;
    height: 180px;
    animation-name: integrantes;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes integrantes{
    0%{
        background-image: url(../imagenes/hum1.PNG);
        background-repeat:no-repeat;
        background-size:contain;    
       	transform: rotate(0deg);
    }
    16%{
        background-image: url(../imagenes/hum2.PNG);
        background-repeat:no-repeat;
        background-size:contain;
        transform: rotate(10deg);
    }
    32%{
        background-image: url(../imagenes/theo.PNG);
        background-repeat:no-repeat;
        background-size:contain;
        transform: rotate(20deg);
    }
    48%{
        background-image: url(../imagenes/sakura.PNG);
        background-repeat:no-repeat;
        background-size:contain;
        transform: rotate(30deg);
    }
    64%{
        background-image: url(../imagenes/luna.PNG);
        background-repeat:no-repeat;
        background-size:contain;
        transform:rotate(40deg);
    }

    80%{
        background-image: url(../imagenes/rama.PNG);
        background-repeat:no-repeat;
        background-size:contain;
        transform:rotate(30deg);
    }
    100%{
        background-image: url(../imagenes/mora.PNG);
        background-repeat:no-repeat;
        background-size:contain;
        transform:rotate(20deg);
    }
}

/*Productos*/
.producto{

    justify-items: center;
    width: 100%;
    height: 800px;
    padding: 10px;
}
.compra{
    width: 45%;
    height: 45%;
}

@media only screen and (min-width: 1400px) {
    .mainprincipal-media{
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 2fr 2fr;
      grid-template-areas: "area1 area3"
                           "area2 area3";
    }   
    .producto-media{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr;
        grid-auto-flow: row;
    }
}    
@media only screen and (min-width: 692px) {
    .mainprincipal-media{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 2fr 2fr;
        grid-template-areas: "area1 area3"
                             "area2 area3";
        }  
    .producto-media{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr;
        }  
      }
@media only screen and (max-width: 691px) {
    *{
        margin: 0px;
        padding: 0px;
        }
    .ultimapubli, .lugares, .aside{
        display: row;
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
        }  
    .producto-media{
           display: grid;
           grid-template-columns: 2fr 2fr;
           grid-template-rows: 2fr 2fr 2fr 2fr;
        }   
    .tablaconocenos-media{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: "area1 area2"
                             "area3 area4"
                             "area5 area6"
                             "area7 area8";
        }
  } 
@media only screen and (max-width: 576px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .ultimapubli, .lugares, .aside{
        display: row;
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
        } 
    .producto-media{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        }
    .tablaconocenos-media{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: "area1 area2"
                             "area3 area4"
                             "area5 area6"
                             "area7 area8";
        justify-items: center
        }     
    }