/** variables fuentes y paleta principal**/
$backgroun_fondos_body: rgb(9, 124, 107);
$backgroun_fondos_nav_footer: rgb(47, 96, 72);
$font_color: rgb(167, 184, 134);
$font_color_claro:seashell ;
$font_color_amarrillo: rgb(253, 246, 144);
$backgroun_fondos_section_aside: rgb(103, 199, 162);
$backgroun_fondos_contenedores: rgb(138, 197, 204);
$font_pricipal: 'Benne', serif;

/*SALUD*/
///*BEM/
.notassalud{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenedor{
    width: 255px;
    height: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroun_fondos_contenedores;
    border-radius: 15px;
    .card__header{     
          width: 255px;
          height: 205px;
          margin: unset;
        .card__figure{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: stretch;
            margin: 7px;
            margin-left: 0px;
            justify-content: space-evenly;
            .card__image{
                border-radius: 15px;
            }
        }
    } 
    .card__body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: xx-small;
        font-weight: lighter;
        margin: 5px;
        width: 225px;
        height: 250px;
        .card__titulo{
            color: rgb(61, 111, 87);
            font-style: italic;
            font-weight: bold;
            text-align: center;
            width: 100%;
            height: auto;
            .card__intro{
                font-family: $font_pricipal;
                color: $font_color;
                font-size: xx-small;
                font-weight: lighter;
                color: $font_color;
                text-align: center;
                width: 100%;
                height: 150px;
                margin-bottom: 3px;
            }
        }
    } 
    .card__footer{
        width: auto;
        height: 50px;
        border: none;
        background: unset;
        .button{
            border-radius: 50px;
            background-color: $backgroun_fondos_nav_footer;
            color: seashell;
            font-family: $font_pricipal;

        }
    }
}

//*AGENDA//

//**Mixin//
@mixin textotabla( $fuentefamily, $fuentecolor, $fuentetamano, $fuenteestilo) {
    font-family: $fuentefamily;
    color: $fuentecolor;
    font-size: $fuentetamano;
    font-style: $fuenteestilo;   
}
.td1, .td3 , .td5 {
    @include textotabla( $font_pricipal, $font_color_amarrillo, medium, oblique)
}
.td2, .td4, .td6{
    @include textotabla( $font_pricipal, seashell, medium, italic)
}

////*Extend///
//*Agenda//
.textobusqueda {
    display: inline;
    font-size: 10px;
    font-weight: 400;
    line-height: 2;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
  }
.textobusqueda--estilo{
    @extend .textobusqueda;
    border-radius: 20px;
    border-color: $font_color;
    width: 250px;
    margin: 0%;
    

}
.botonbusqueda {
    display: inline;
    font-weight: 400;
    line-height: 2;
    color: seashell;
    text-align: center; 
    
    border-radius: 10px;
  }
  .boton-estilo{
      @extend .botonbusqueda;
      background-color: $backgroun_fondos_nav_footer;
      border: 1px solid $font_color;
      cursor: pointer;
      font-size: 15px;
      padding-left: 3px;
      padding-right: 3px;
      width: 51px;
  }
